.container
  .row
    .column
      = form_for @recipe do |f|
        .form.title#recipe-meta
          = f.label :title
          = f.text_field :title
        .form.instructions
          = f.label :instructions
          = f.text_area :instructions, rows: "4"
        .form.ingredients#recipe-ingredients
          = f.fields_for :quantities do |quantity|
            = render 'quantity_fields', f: quantity
          = link_to_add_association 'Add ingredient', f, :quantities, 'data-association-insertion-node' => '#recipe-ingredients', 'data-association-insertion-method' => 'append', :wrap_object => Proc.new { |quantity| quantity.build_ingredient; quantity }
        .formcolumn
          %br
          = f.submit
