.nested-fields
  = f.label :amount, "Amount:"
  = f.text_field :amount

  = f.fields_for :ingredient do |quantity_ingredient|
    = quantity_ingredient.text_field :name

  = link_to_remove_association "Remove", f
