.container
  .row
    .column
      %h1= @recipe.title
      %h3 Instructions
      = @recipe.instructions
      %p
      %h3 Ingredients
      - @recipe.ingredients.each do |ingredient|
        = "#{ingredient.quantity} #{ingredient.name}"
        %br
      %br
      = link_to "Add meal", new_meal_path, class: "button"
      = form_for @tag do |f|
        .form.title
          = f.label :name
          = f.text_field :name
          = f.submit 'Add Tag'
